<div class="pedagogy-block">
    <details class="pedagogy-details">
        <summary class="pedagogy-summary">Voir les objectifs du module</summary>
        <div class="pedagogy-content">
            <p><strong>Objectifs pédagogiques</strong></p>
            <ul>
                <li>Comprendre ce qu'est Internet et comment il fonctionne.</li>
                <li>Savoir utiliser un navigateur pour effectuer une recherche simple.</li>
                <li>Apprendre à choisir des mots-clés pertinents.</li>
                <li>Comparer plusieurs résultats pour trouver l'information utile.</li>
            </ul>
            <p><strong>Activité principale</strong></p>
            <p>Les élèves effectuent une recherche pratique sur un sujet scolaire de leur choix, notent leur démarche et évaluent ce qu'ils ont appris.</p>
            <p><em>Remarque : le contenu détaillé des PowerPoint sera intégré dans une prochaine version (F021).</em></p>
        </div>
    </details>
</div>
